<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessToken</key>
	<string></string>
	<key>AppId</key>
	<string>213B5FE1-60D4-40A9-82D1-2D3CC07CD16F</string>
</dict>
</plist>
